<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucar.train.test.mapper.UserMapper" >

    <resultMap id="mapper" type="com.ucar.train.test.vo.User">
        <id column="id" property="id"/>
        <result property="name" column="psw"/>
        <result property="psw" column="psw"/>
    </resultMap>

    <select id="getAllUser" resultMap="mapper">
        SELECT
        id,
        name,
        psw
        FROM user
    </select>
</mapper>